.main>ul>li>a {
    font-size: 40px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.main>ul>li>img {
    width: 50px;
    border-radius: 20%;
}

.main>center {
    font-size: 50px;
}

.main>ul {
    list-style-type: none;
    display: flex;
    margin-left: 350px;
}

.main>ul>li {
    display: flex;
    align-items: center;
    padding: 5px;
}

.main {
    display: inline;
}

.maps-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.map-wrapper {
    flex: 1;
    width: 500px;
    /* min-width: 300px;
    max-width: 500px; */
}

.map-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(154, 23, 41);
}

.map-frame {
    width: 100%;
    height: 300px;
    border: 2px solid rgb(154, 23, 41);
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.shop-info {
    margin-top: 10px;
    padding: 15px;
    background: rgba(154, 23, 41, 0.1);
    border-radius: 8px;
    border-left: 3px solid rgb(154, 23, 41);
    font-size: 22px;
}